
html, body {
    height: 100%;
    margin: 0;
  }

.topforgot{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid black; */
    width: 550px;
    height: 650px;
    background: white;
    border-radius: 51px;

    box-shadow: rgba(27, 28, 29, 0.2) 0px 7px 29px 0px;
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 5em;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid black; */
    width: 550px;
    height: 650px;
    /* background: white;
    border-radius: 51px; */
/* 
    box-shadow: rgba(27, 28, 29, 0.2) 0px 7px 29px 0px; */
    
}


.h1log{
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;

    /* bottom: 115px;
    position: relative; */
}

input, label {
    display:block;
    
}
.forgotinput{
    /* width:100%; */
    width: 450px;
    margin:10px 0;
    padding:13px;
    border-radius:16px;
    border: 1px solid rgb(224, 224, 224);
    transition: .3s border-color;
    
}

.forgotinput:hover {
    border: 1px solid #aaa;
  }

  .logButton{

    width: 290px;
    padding: 14px;
    border-radius: 15px;
    display:block; /* change this from inline-block */
    margin:0 auto; /* this will center  it */
    border: 0px;
    background-color: #FFDFD8;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: normal;
    

}

.logButton:hover{

    background-color: #fbd1c8; 
 
}
