.react-calendar-heatmap .color-scale-0 { fill: #d6d4d4; }
.react-calendar-heatmap .color-scale-1 { fill: #FF0000; }
.react-calendar-heatmap .color-scale-2 { fill: #FF3300; }
.react-calendar-heatmap .color-scale-3 { fill: #ff6600; }
.react-calendar-heatmap .color-scale-4 { fill: #ff9900; }
.react-calendar-heatmap .color-scale-5 { fill: #FFCC00; }
.react-calendar-heatmap .color-scale-6 { fill: #ffff00; }
.react-calendar-heatmap .color-scale-7 { fill: #ccff00; }
.react-calendar-heatmap .color-scale-8 { fill: #99ff00; }
.react-calendar-heatmap .color-scale-9 { fill: #64ff00; }
.react-calendar-heatmap .color-scale-10 {fill: #00ff00; }